@import url(./assets/css/variables.css);

.topbar{
    background-color: var(--primary-color);
}
.btn-call{
    font-size: 20px;
    padding: 14px 14px;
}
.btn-contact{
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.banner{
    background: linear-gradient(98.3deg,rgba(111,73,2,0.2) 0.45%,rgba(0,0,0,0) 162.03%),linear-gradient(269.66deg,#000203 0.28%,#09161D 99.7%);
    
    padding-top: 15rem;
    padding-bottom: 15rem;
    position: relative;
}
.banner>img{
    position: absolute;
    opacity: 0.15;
}
.banner-img1{
    transform: translate(155%, 200%);
}
.banner-img2{
    transform: translate(-205%, -55%);
}
.union-lift{
    position: absolute; 
    left: 0;
    bottom: 20rem;
}
.fooditem1{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.rotate-img2{   
    animation: rotation 30s infinite linear;
}

.union-right{
    position: absolute;
    right: 0;
    bottom: 20rem;
}
.fooditem{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.rotate-img1{   
    animation: rotation 30s infinite linear;
}

.social-links{
    right: 10rem;
}

.testimony-arrow::after{
    content: '';
    width:20px;
    height: 20px;
    background: #000;
    position: absolute;
    bottom: -13px;
    left: 20%;
    rotate: 45deg;
    z-index: -1;
}

.arrow{
    position: absolute;
    bottom: -33px;
    left: 20%;
    /* rotate: 180deg; */
    z-index: -1;
}

.discount{
    /* max-width: 250px; */
}
.pricetag{
    right: 37%;
    bottom: 14%;
}
.reserveitem{
    background-image: url(./img/reserve1.png);
    background-color: rgba(3, 8, 8, 0.61);

    background-blend-mode: overlay;
}


.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: #ccc;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
}

.owl-nav button span {
	font-size: 30px;
	height: 100%;
	display: block;
	width: 100%;
}

.owl-carousel .owl-nav {
	margin: 0;
}
.btn-wrap {
	text-align: center;
	width: 100%;
}
button.owl-btn {
	background-color: #ddd;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 10px;
	font-size: 18px;
	font-weight: 600;
	transition: all 0.5s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.owl-left{
    position: absolute;
    left: -7rem;
    bottom: 5rem;
}
.owl-right{
    position: absolute;
    right: -1.5rem;
    bottom: 5rem;
    z-index: 10000;
}
/* ----popular items---- */
.popular-item{
    background-image: url(./img/popular-bg.png);
}
/* -------------------- */

/* -----customer feedback-- */
.testimonial{
    background-color: #0F1009;
    padding-bottom: 350px !important;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(15,16,9,1) 36%);
}
.testimonial-video{
    height: 600px;
}
/* ----cooking experts---- */
.sharebtn{
    right: 2.5rem;
    top: 1rem;
}
.socialblock{
    right: 2.5rem;
    top: 4rem;
    display: none;
}
.sharebtn:hover +  .socialblock{
    display: block;
}
.sharebtn1{
    right: 2rem;
    top: 1rem;
}
.socialblock1{
    right: 2rem;
    top: 4rem;
    display: none;
}
.sharebtn1:hover + .socialblock1{
    display: block;
}
.sharebtn2{
    right: 2rem;
    top: 1rem;
}
.socialblock2{
    right: 2rem;
    top: 4rem;
    display: none;
}
.sharebtn2:hover + .socialblock2{
    display: block;
}
/* --------------------- */
/* ----Restho's Gallery--- */
.galleryimg1 > img{
    height: 30rem;
}
.gallery1{
    background-color: #131212a8;
    top: 0;
    left: 0.7rem;
    width: 91%;
    height: 30rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
}
.gallery1:hover{
    opacity: 1;
    
}
/* ------------------- */

/* -----Footer---------  */

.footerimg{
    background-image: url(./img/testi-video-bg.png);
    width: 100%;
    background-color: #0c0808f1;
    background-blend-mode: overlay;
}
